/* Table Styles */
.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table tr {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Text Alignment */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Font Sizes and Styles */
.invoice-number {
    font-size: 14px;
    text-align: center;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
    padding-left: 5px;
}

.fs-12 {
    font-size: 12px;
    padding-left: 5px;
    line-height: 10pt;
}

.fs-11 {
    font-size: 11px;
}

.fs-10 {
    font-size: 8px;
    margin: 2px;
    text-align: justify;
}

.fields, .fields2, .fields3 {
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.fields {
    font-size: 16px;
}

.fields2 {
    font-size: 8px;
}

.fields3 {
    font-size: 12px;
}

/* Margin and Padding */
.mt-5 {
    margin-top: 5px;
}

.mt-80 {
    margin-top: 50px;
}

/* Line and Border Styles */
.underlined {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.blank-row {
    line-height: 150px;
}

.detail-line {
    line-height: 14px;
    height: 14px;
}

wide {
    min-height: 100px;
    line-height: 12px;
    height: 10px;
}

/* Total Payment */
.total-payment {
    padding-right: 5px;
}

/* Responsive Widths */
.w-5p { width: 5%; }
.w-10p { width: 10%; }
.w-15p { width: 15%; }
.w-20p { width: 20%; }
.w-25p { width: 25%; }
.w-30p { width: 30%; }
.w-40p { width: 40%; }
.w-50p { width: 50%; }
.w-60p { width: 60%; }
.w-70p { width: 70%; }
.w-75p { width: 75%; }

.w-5 { width: 5mm; }
.w-10 { width: 10mm; }
.w-15 { width: 15mm; }
.w-30 { width: 30mm; }
.w-40 { width: 40mm; max-width: 40mm; }
.w-50 { width: 50mm; }
.w-65 { width: 65mm; }
.w-75 { width: 75mm; }

/* Images */
img {
    padding-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Rows and Columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Borders */
.row-border {
    border: 1px solid;
}

.column-border {
    border: 1px solid;
}

/* Detail Table */
.detail-table {
    border: 1px solid black;
    height: 650px;
    border-collapse: collapse;
}

.detail-table td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0.5px solid white;
    border-top: 0.5px solid white;
}

.detail-table td:empty {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0.5px solid white;
}

/* Detail Table with QR */
.detail-table-qr {
    border: 1px solid black;
    height: 450px;
    border-collapse: collapse;
}

.detail-table-qr td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0.5px solid white;
    border-top: 0.5px solid white;
}

.detail-table-qr td:empty {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0.5px solid white;
}

/* Paragraphs */
p {
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 2px;
}
