@font-face {
    font-family: "inter-medium";
    src: url("/custom_account_reports/static/src/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "inter-bold";
    src: url("/custom_account_reports/static/src/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
}
