@font-face {
    font-family: 'Inter';
    src: url('/pisa_reports/static/src/fonts/inter/Inter-Light-BETA.otf') format('opentype');
 }

.pisa_report_pdf {  
    font-family: 'Inter', serif; 
    margin: 20px;

    header {
        width: 100%;
        padding: 10px 0px;
        border: none;
        background-color: #ffffff;

        .o_header_font {
            font-size: 1rem;
        }

        .o_title {
            font-size: 2rem;
            margin-bottom: 15px;
            text-align: left;
            vertical-align: top;
        }

        .o_subtitle {
            font-size: 1rem;
            text-align: right;
            color: #4F4B81;
            margin-bottom: 15px;
        }
    }

    .o_table {
        color: #4F4B81;
        width: 100%;
        direction: ltr;
        font-size: 0.8rem;
        white-space: nowrap;

        thead, tbody, tfoot, tr, td, th { border-style: none }

        td, th {
            padding: 6px 10px 3px;
            vertical-align: text-top;
        }

        th {
            text-align: left;
        }

        .o_right_alignment {
            text-align: right;
        }

        .o_muted {
            color: $o-gray-500;
        }

        > thead {
            background-color: #ffffff;
            font-family: 'Inter', serif;

            /* First column takes 80% */
            tr th:first-child {
                width: 80%;
            }

            /* All cells of the last row */
            tr:last-child th {
                text-align: center;
            }
        }

        > tbody {
            font-family: 'Inter', serif;

            tr > td:nth-child(3) {
                white-space: normal;
                overflow-wrap: break-word;
            }

            tr:last-child {
                font-weight: bold;
            }

            .o_line_level_0 {
                background-color: #ffffff;
                color: #0f101f;
                font-size: 1rem;
                font-weight: bold;
                border-bottom: 2px solid #0f101f;

                .o_line_name_level { padding-left: 0px }
            }

            .o_line_level_1 {
                background-color: #ffffff;
                color: #4F4B81;
                font-weight: bold;
                border-bottom: 1px solid #CACADD;

                .o_line_name_level { padding-left: 0px }
            }

            @for $i from 2 through 3 {
                .o_line_level_#{$i} {
                    border-bottom: 1px solid #CACADD;
                    .o_line_name_level { padding-left: 0px }
                }
            }

            @for $i from 4 through 16 {
                .o_line_level_#{$i} {
                    border-bottom: 1px solid #CACADD;
                    .o_line_name_level { padding-left: 0px }
                }
            }

            .o_cell_td > .o_line_cell_value_number {
                display: block;
                text-align: right;
                min-width: 100px;
                width: 100px;
            }
        }
    }

    .tax_summary {
        width: 100%;

        > div > div {
            padding: 2px 15px;
        }

        .o_table > tbody > tr:last-child {
            font-weight: normal;
            border: 0;
        }

        .o_table > thead > tr > th:nth-child(3) {
            width: auto;
            max-width: fit-content;
        }
    }

    ///////////////////////////////////////////////
    ///     Global
    //////////////////////////////////////////////

    .o_section_title {
        width: 100%;

        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        color: $o-gray-700;

        margin-bottom: 10px;
    }

    .o_section_subtitle {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 50px;
    }

    .o_even {
        background-color: $o-gray-200;
    }

    .o_bold {
        font-weight: bold;
    }
}
