name: Merge Master to Staging and QA

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  merge_to_staging_and_qa:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'hotfix/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'

      - name: Merge master to staging
        run: |
          git checkout staging
          git merge --no-ff master -m "Merge master into staging [skip ci]"
          git push origin staging

      - name: Merge master to QA
        run: |
          git checkout qa
          git merge --no-ff master -m "Merge master into QA [skip ci]"
          git push origin qa
