name: Tag release version when merged to master

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  merge:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: Checkout master
      uses: actions/checkout@v2
      with:
        ref: master

    - name: Set up Git
      run: |
        git config --global user.name "Your GitHub Actions Bot"
        git config --global user.email "actions@github.com"

    - name: Get branch name
      id: get_branch
      run: echo ::set-output name=branch_name::${{ github.head_ref }}

    - name: Determine if it is a release or hotfix
      id: determine_type
      run: |
        branch_name="${{ steps.get_branch.outputs.branch_name }}"
        if [[ "$branch_name" =~ release/v([0-9]+)\.([0-9]+)\.([0-9]+) ]]; then
          echo "release" > branch_type.txt
          new_tag="v${BASH_REMATCH[1]}.${BASH_REMATCH[2]}.${BASH_REMATCH[3]}"
        elif [[ "$branch_name" =~ hotfix/ ]]; then
          echo "hotfix" > branch_type.txt
        else
          echo "unknown" > branch_type.txt
          echo "Branch name does not match release or hotfix pattern"
          exit 1
        fi
        echo "New tag: $new_tag" >> branch_type.txt
        echo ::set-output name=new_tag::$new_tag

    - name: Get the latest tag if it's a hotfix
      if: ${{ steps.determine_type.outputs.branch_type == 'hotfix' }}
      id: get_latest_tag
      run: |
        latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
        echo "Latest tag: $latest_tag"
        echo ::set-output name=latest_tag::$latest_tag

    - name: Create new hotfix tag
      if: ${{ steps.determine_type.outputs.branch_type == 'hotfix' }}
      id: create_hotfix_tag
      run: |
        latest_tag="${{ steps.get_latest_tag.outputs.latest_tag }}"
        if [[ "$latest_tag" =~ ^v([0-9]+)\.([0-9]+)\.([0-9]+)(\.[0-9]+)?$ ]]; then
          major=${BASH_REMATCH[1]}
          minor=${BASH_REMATCH[2]}
          patch=${BASH_REMATCH[3]}
          hotfix=${BASH_REMATCH[4]}
          if [ -z "$hotfix" ]; then
            new_hotfix=1
          else
            new_hotfix=$((hotfix + 1))
          fi
          new_tag="v$major.$minor.$patch.$new_hotfix"
        else
          echo "Invalid latest tag format"
          exit 1
        fi
        echo "New hotfix tag: $new_tag"
        echo ::set-output name=new_tag::$new_tag

    - name: Push new tag
      run: |
        git tag ${{ steps.create_hotfix_tag.outputs.new_tag || steps.determine_type.outputs.new_tag }}
        git push origin ${{ steps.create_hotfix_tag.outputs.new_tag || steps.determine_type.outputs.new_tag }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
